.threeDaysItem {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 280px;
}

.threeDaysItem_info h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.threeDaysItem_icon img {
    width: 175px;
    position: relative;
}